perser.nim
bin/test2
bin/main
bin/perser
bin/test
libCore.dylib
libmnlibrary.dylib
libWidget.dylib
perser
res.txt
test
test_stack
test2
bin/main.dSYM/Contents/Info.plist
.DS_Store
bin/main.dSYM/Contents/Resources/DWARF/main
bin/perser.dSYM/Contents/Info.plist
bin/test.dSYM/Contents/Info.plist
bin/test2.dSYM/Contents/Info.plist
