
QT/.DS_Store
QT/build/
QT/cmake-build-debug/
QT/.idea/
QT/cmake-build-debug/
QT/WIDGET/CMakeFiles/
QT/CMakeFiles/
QT/WIDGET/Makefile
QT/WIDGET/cmake_install.cmake
QT/WIDGET/.DS_Store
Nim/tests/QLaout_t
Nim/perser
Nim/tests/QLaout_t
